.field {
  background-color: rgb(254, 226, 251);
  position: relative;
  .platform {
    border-radius: 5px;
    background-color: rgb(118, 25, 25);
    position: absolute;
    transform: translate(var(--platform-x-position), 650px)
  }
  .ball {
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    position: absolute;
  }
}
